<html lang="en">
    <%- include('./partials/head.ejs') %> 

    <body>
        <%- include('./partials/nav.ejs') %> 

        <div class="blogs content">
            <h2>All Updates</h2>
        
            <% if(updates.length > 0) { %>
                <% updates.forEach(update => { %> 
                    <div class="update-block">
                        <a class="single" href="<%= update.link %> ">
                            <h3 class="title">
                                <%= update.title %>
                                
                                <% if((new Date().getTime() - (8 * 24 * 60 * 60 * 1000)) < update.updatedAt.getTime()) { %> 
                                    <!-- Display "New" Gif if update create time is under 8 days from current date -->
                                    <img src="/new.gif" alt="new update gif">
                                <% } %> 
                            </h3>
                        </a>
                        <% if (update.enabled == true) { %>
                            <a class="del" data-id="<%= update._id %>" data-enabled=false data-action="toggle">
                                Disable
                            </a>
                        <% } else { %>
                            <a class="del" data-id="<%= update._id %>" data-enabled=true data-action="toggle">
                                Enable
                            </a>
                        <% } %>
                        <!-- add delete button -->
                        
                    </div>
                <% }) %> 
            <% } else { %> 
                <p>There are no updates to display...</p>    
            <% } %> 
        </div>

        <%- include('./partials/footer.ejs') %> 

        <script>
            const btn = document.querySelector('a.del');

                // add an event listener to the delete button and for toggle button
            // const deleteUpdate = (endpoint) => {
            //     fetch(endpoint, {
            //     method: 'DELETE',
            //     })
            //     .then((response) => response.json())
            //     .then((data) => window.location.href = data.redirect)
            //     .catch((err) => console.log(err));
            // };
            
            const toggleUpdate = (enabled, endpoint) => {
                var detailsToModify = {
                    enabled: btn.dataset.enabled
                }
                var formBody = [];
                for (var property in detailsToModify) {
                    var encodedKey = encodeURIComponent(property);
                    var encodedValue = encodeURIComponent(detailsToModify[property]);
                    formBody.push(encodedKey + "=" + encodedValue);
                }
                formBody = formBody.join("&");
                fetch(endpoint, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                    },
                    body: formBody
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch((err) => console.log(err));
            };

            btn.addEventListener('click', (e) => {
                const endpoint = `/admissions/ug/updates/${btn.dataset.id}`;
                const action = btn.dataset.action;
                
                const enabled = btn.dataset.enabled;
                toggleUpdate(enabled, endpoint);

                // if (action === 'delete'){
                //     deleteUpdate(endpoint);
                // }
                // else if (action === 'toggle'){
                //     const enabled = btn.dataset.enabled;
                //     toggleUpdate(enabled, endpoint);
                // }
                    
            });

        </script>
    </body>
</html>