<html lang="en">
    <%- include('./partials/head.ejs') %> 

    <body>
        <%- include('./partials/nav.ejs') %> 

        <div class="blogs content">
            <h2>All Updates</h2>
        
            <% if(updates.length > 0) { %>
                <% updates.forEach(update => { %> 
                    <div class="update-block">
                        <a class="single" href="<%= update.link %> ">
                            <h3 class="title">
                                <%= update.title %>
                                
                                <% if((new Date().getTime() - (8 * 24 * 60 * 60 * 1000)) < update.updatedAt.getTime()) { %> 
                                    <!-- Display "New" Gif if update create time is under 8 days from current date -->
                                    <img src="/new.gif" alt="new update gif">
                                <% } %> 
                            </h3>
                        </a>
                        <% if (update.enabled == true) { %>
                            <a class="del" data-id="<%= update._id %>" data-enabled=false data-action="toggle">
                                Disable
                            </a>
                        <% } else { %>
                            <a class="del" data-id="<%= update._id %>" data-enabled=true data-action="toggle">
                                Enable
                            </a>
                        <% } %>
                        <!-- add delete button -->
                        
                    </div>
                <% }) %> 
            <% } else { %> 
                <p>There are no updates to display...</p>    
            <% } %> 
        </div>

        <%- include('./partials/footer.ejs') %> 

        <script src="/script.js"></script>
    </body>
</html>